<mat-card>
    <mat-card-title class="text-center">
        <h2>Main Menu</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="gap-2 col-9 mx-auto">
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Incoming</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Placing</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Suspension</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Picking for Process</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Line Operator Process</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Picking for Delivery</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button">Final Inspection</button>
            <button mat-raised-button class="btn btn-primary btn-block" type="button" routerLink="/main/stktaking">Stock Taking</button>
        </div>
    </mat-card-content>
</mat-card>